/*------------------------------------------------------------------------------------------*/
/* --CURTIS KOTECKI | LUKE JAYNES | CLAYTON TALLWHITEMAN                                   -*/
/*--SITE STYLE SHEET (CSS): SiteStyle.css                                                  -*/
/*--CREATED: 09/13/2016                                                                    -*/
/*--MODIFIED: 09/13/2016                                                                   -*/
/*------------------------------------------------------------------------------------------*/

/*----------------------------------------*/
/* TAG STYLES							  */
/*----------------------------------------*/
body
{
	margin: 0px;
}

h1
{
	margin: 0px;
	color: #CFFCF9;
	font-family: sans-serif;
	
}

h2
{
	margin: 0px;
	color: #006571;
	font-family: sans-serif;
	text-align: center;
}

p
{
	margin: 40px;
}
/*----------------------------------------*/
/* CLASS STYLES							  */
/*----------------------------------------*/
.Header
{
	background-color: #004A70;
	width: 100%;
	height: 200px;
	
	text-align: center;
	vertical-align: center;
}

.Menu
{
	width:
}

.Left_Main
{
	background-color: #F4F6F5;
	color: #005B80;
	
	font-size: 22px;
	font-family: sans-serif;
	
	width: 50%;
	height: 800px;
	
	float: left;
}

.Right_Main
{
	background-color: #005B80;
	color: #F4F6F5;
	
	font-size: 22px;
	font-family: sans-serif;
		
	width: 50%;
	height: 800px;
	
	float: left;

.Footer
{
	background-color: #2CC0A6;
	width: 100%;
	height: 200px;
	float: left;
}

/*----------------------------------------*/
/* ID STYLES							  */
/*----------------------------------------*/

/*--------------------------------------------------------------*/
/* MOBILE STYLING 												*/
/*--------------------------------------------------------------*/

/*----------------------------------------*/
/* TAG STYLES							  */
/*----------------------------------------*/

/*----------------------------------------*/
/* CLASS STYLES							  */
/*----------------------------------------*/

/*----------------------------------------*/
/* ID STYLES							  */
/*----------------------------------------*/