/*------------------------------------------------------------------------------------------*/
/* --CURTIS KOTECKI | LUKE JAYNES | CLAYTON TALLWHITEMAN                                   -*/
/*--SITE STYLE SHEET (CSS): SiteStyle.css                                                  -*/
/*--CREATED: 09/13/2016                                                                    -*/
/*--MODIFIED: 09/13/2016                                                                   -*/
/*------------------------------------------------------------------------------------------*/

/*----------------------------------------*/
/* TAG STYLES							  */
/*----------------------------------------*/
body
{
	margin: 0px;
}

h1
{
	margin: 0px;
	color: #CFFCF9;
	font-family: sans-serif;
	
}

h2
{
	margin: 0px;
	color: #006571;
	font-family: sans-serif;
	text-align: center;
}

p
{
	margin: 40px;
}
/*----------------------------------------*/
/* CLASS STYLES							  */
/*----------------------------------------*/
.Header
{
	background-color: #004A70;
	width: 100%;
	height: 200px;
	
	text-align: center;
	vertical-align: center;
}

.Menu
{
	width:
}

.Left_Main
{
	background-color: #F4F6F5;
	color: #005B80;
	
	font-size: 22px;
	font-family: sans-serif;
	
	width: 50%;
	height: 800px;

	float: left;
}
.Left_Main input{
	float: right;
	padding-right: 50px;
	margin-right: 20px;
}

.Left_Main select{
	margin-left: 10px;
	
}
.Right_Main
{
	background-color: #005B80;
	color: #F4F6F5;
	
	font-size: 22px;
	font-family: sans-serif;
		
	width: 50%;
	height: 800px;

	float: left;
}
.Footer
{
	background-color: #2CC0A6;
	width: 100%;
	height: 200px;
	float: left;
}

.Left_Main form select{
	width: 180px;
	height: 30px;
	font-size: 24px;
	}
/*----------------------------------------*/
/* ID STYLES							  */
/*----------------------------------------*/

/*--------------------------------------------------------------*/
/* MOBILE STYLING 												*/
/*--------------------------------------------------------------*/

/*----------------------------------------*/
/* TAG STYLES							  */
/*----------------------------------------*/

/*----------------------------------------*/
/* CLASS STYLES							  */
/*----------------------------------------*/

/*----------------------------------------*/
/* ID STYLES							  */
/*----------------------------------------*/

/*Up to you guys if you want to use this star rating system*/
.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #189800;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #f5b301;
}
 
.acidjs-rating-disabled
{
    opacity: .50;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}